// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #fbc251;
$yellow-dark: #c28a1b;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
$white: #ffff;

$color-salmon: #ff978e;
$color-header-white: #f6f3e4;
