<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>
<h1 class="text-center mb-5">Your booking is completed</h1>
<%= link_to 'Go to my bookings', dashboard_path, class: "btn-flat-secondary ml-5" %>
