h1 {
  color: $color-header-white;
  font-size: 3.5rem;
  font-weight: bolder;
  text-shadow: 0.3rem 0.3rem 0.5rem $color-salmon, -0.1rem 0 pink, 0 0.1rem pink,
    0.1rem 0 pink, 0 -0.1rem pink;
}

h2 {
  color: $color-header-white;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 0.3rem 0.3rem 0.5rem $color-salmon, -0.1rem 0 pink, 0 0.1rem pink,
    0.1rem 0 pink, 0 -0.1rem pink;
}

h3 {
  color: rgba($gray, 0.6);
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1.6rem;
}
