<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/silsc/rent-a-chef"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/silviasalatcasado/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Designed by Silvia Salat
    <br>
    Developed with <i class="fas fa-heart"></i> by the Spotlight team
  </div>
</div>
