<div class="navbar navbar-expand-sm navbar-light navbar-landing ">
  <div class="navbar-iconlogo-landing">
    <i class="fas fa-utensils fa-3x navbar-icon"></i>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-3 active">
        <%= link_to "Log in", new_user_session_path, class: "btn btn-flat btn-landing" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-flat btn-landing" %>
      </li>
    </ul>
  </div>
</div>
<div class="col-12 p-0 m-0" style="position: absolute;top: 0px;z-index: 1;
">
  <div class="row full-banner-landing mr-0 ml-0">
    <div class="col-6">
      <%= image_tag "logo-big.png", class: "img-fluid big-logo"%>
    </div>
    <div class="col-6 half-banner-landing">
      <div class="class d-block">
        <div class="class text-left">
          <span class="iconify food-landing-icon col-lg-9 icon-fluid" data-inline="false" data-icon="emojione-v1:pot-of-food" style="font-size: 12em;"></span>
        </div>
        <div class="pr-5">
          <h2 class="text-right">Create <strong>memories</strong>,</h2>
          <h2 class="text-right">enjoy the best food</h2>
          <h2 class="text-right">from the bests chefs in your city</h2>
        </div>
      </div>
      <div class="col-lg-12 pt-4 text-center">
        <%= link_to "Search for a chef", chefs_path, class: "btn btn-flat btn-landing" %>
      </div>
    </div>
  </div>
</div>
<div class="pl-5 pt-5" style="margin-top:470px;">
  <h1>How does it work?</h1>
  <h3>If you’re a chef</h3>

  <div class="card-container d-flex justify-content-around mr-5 my-5">
    <div class="instruction-card text-center p-5" style='background-image: url("https://d3awvtnmmsvyot.cloudfront.net/api/file/npy9PEWBTyCCVwKKMkUG");background-size:cover'>
      <h4>Step 1</h4>
      <p>Create an account</p>
    </div>
    <div class="instruction-card text-center p-5" style='background-image: url("https://imagesvc.meredithcorp.io/v3/jumpstartpure/image?url=https://timeincsecure-a.akamaihd.net/rtmp_uds/1260616200/201906/2295/1260616200_6047573829001_6047510241001-vs.jpg?pubId=1260616200&videoId=6047510241001&w=1280&h=720&q=90&c=cc");background-size:cover'>
      <h4>Step 2</h4>
      <p>Create your profile</p>
    </div>
    <div class="instruction-card text-center p-5" style='background-image: url("https://blog.certifiedangusbeef.com/wp-content/uploads/2014/10/burgertoppings.png");background-size:cover'>
      <h4>Step 3</h4>
      <p>Receive bookings</p>
    </div>
    <div class="instruction-card text-center p-5" style='background-image: url("https://d1ralsognjng37.cloudfront.net/6d89c74e-358d-4848-9c07-347304b97936.jpeg");background-size:cover'>
      <h4>Step 4</h4>
      <p>Accept bookings</p>
    </div>
  </div>
  <h3>If you’re looking for a chef</h3>
  <div class="card-container d-flex justify-content-around mr-5 my-5">
    <div class="instruction-card text-center p-5" style='background-image: url("https://www.gannett-cdn.com/media/USATODAY/GenericImages/2012/11/26/86521271-16_9.jpg?auto=webp&format=pjpg&width=1200");background-size:cover'>
      <h4>Step 1</h4>
      <p>Create an account</p>
    </div>
    <div class="instruction-card text-center p-5" style='background-image: url("https://s.yimg.com/ny/api/res/1.2/ln_OeAQ4EOt16c3os2iBSA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTQxOS41NTU1NTU1NTU1NTU1NA--/https://s.yimg.com/os/en-US/blogs/games-us-unplugged/guess-who-top630.jpg");background-size:cover'>
      <h4>Step 2</h4>
      <p>Search through the chefs</p>
    </div>
    <div class="instruction-card text-center p-5" style='background-image: url("https://i.pinimg.com/originals/27/fd/9b/27fd9b6782c516794dc1f5b5e6c43ad5.jpg");background-size:cover'>
      <h4>Step 3</h4>
      <p>Rent a chef</p>
    </div>
    <div class="instruction-card text-center p-5" style='background-image: url("https://www.dineindulge.co.uk/wp-content/uploads/2020/10/Why-Should-You-HIre-a-Private-Chef.jpg");background-size:cover'>
      <h4>Step 4</h4>
      <p>Enjoy your chef</p>
    </div>
  </div>
</div>
