<div class="navbar navbar-expand-sm navbar-light navbar-landing ">
  <div class="navbar-iconlogo-landing">
    <i class="fas fa-utensils fa-3x navbar-icon"></i>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-3 active">
        <%= link_to "Log in", new_user_session_path, class: "btn btn-flat btn-landing" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-flat btn-landing" %>
      </li>
    </ul>
  </div>
</div>
<div class="col-12 p-0 m-0" style="position: absolute;top: 0px;z-index: 1;">
  <div class="row full-banner-landing mr-0 ml-0">
    <div class="col-6">
      <%= image_tag "logo-big.png", class: "img-fluid big-logo"%>
    </div>
    <div class="col-6 half-banner-landing">
      <div class="class d-block">
        <div class="class text-left">
          <span class="iconify food-landing-icon col-lg-9 icon-fluid" data-inline="false" data-icon="emojione-v1:pot-of-food" style="font-size: 12em;"></span>
        </div>
        <div class="pr-5">
          <h2 class="text-right">Create <strong>memories</strong>,</h2>
          <h2 class="text-right">enjoy the best food</h2>
          <h2 class="text-right">from the bests chefs in your city</h2>
        </div>
      </div>
      <div class="col-lg-12 pt-4 text-center">
        <%= link_to "Search for a chef", chefs_path, class: "btn btn-flat btn-landing" %>
      </div>
    </div>
  </div>
</div>
<div class="pl-5 pt-5" style="margin-top:470px;">
  <h1>How does it work?</h1>
  <h3>If you’re a chef</h3>
  <div class="card-container d-flex justify-content-around mr-5 my-5">
    <div class="instruction-card text-center" style='background-image: url("https://i.postimg.cc/rwtH4bs9/bun.png");background-size: 200px; background-repeat: no-repeat; background-position: center;'>
      <div class="text">
        <div>
          <h4>Step 1</h4>
          <p>Create an account</p>
        </div>
      </div>
    </div>
    <div class="instruction-card text-center" style='background-image: url("https://i.postimg.cc/KjH9kryV/grilled-meat.png");background-size: 200px; background-repeat: no-repeat; background-position: center;'>
      <div class="text">
        <div>
          <h4>Step 2</h4>
          <p>Create your profile</p>
        </div>
      </div>
    </div>
    <div class="instruction-card text-center" style='background-image: url("https://i.postimg.cc/FKynWLjd/salad.png");background-size: 200px; background-repeat: no-repeat; background-position: center;'>
      <div class="text">
        <div>
          <h4>Step 3</h4>
          <p>Receive bookings</p>
        </div>
      </div>
    </div>
    <div class="instruction-card text-center" style='background-image: url("https://i.postimg.cc/SRsTx1HC/hamburger-home.png");background-size: 200px; background-repeat: no-repeat; background-position: center;'>
      <div class="text">
        <div>
          <h4>Step 4</h4>
          <p>Accept bookings</p>
        </div>
      </div>
    </div>
  </div>
  <h3>If you’re looking for a chef</h3>
  <div class="card-container d-flex justify-content-around mr-5 my-5">
    <div class="instruction-card text-center" style='background-image: url("https://i.postimg.cc/Kzmpd8N9/searching.png");background-size: 200px; background-repeat: no-repeat; background-position: center;'>
      <div class="text">
        <div>
          <h4>Step 1</h4>
          <p>Create an account</p>
        </div>
      </div>
    </div>
    <div class="instruction-card text-center" style='background-image: url("https://i.postimg.cc/B6N7sf7J/tracking.png");background-size: 200px; background-repeat: no-repeat; background-position: center;'>
      <div class="text">
        <div>
          <h4>Step 2</h4>
          <p>Search through the chefs</p>
        </div>
      </div>
    </div>
    <div class="instruction-card text-center" style='background-image: url(" https://i.postimg.cc/3w5cFBDQ/cooking.png");background-size: 200px; background-repeat: no-repeat; background-position: center;'>
       <div class="text">
        <div>
          <h4>Step 3</h4>
          <p>Rent a chef</p>
        </div>
      </div>
    </div>
    <div class="instruction-card text-center" style='background-image: url("https://i.postimg.cc/v8q2NM6z/chef-home.png");background-size: 200px; background-repeat: no-repeat; background-position: center;'>
       <div class="text">
        <div>
          <h4>Step 4</h4>
          <p>Enjoy your chef</p>
        </div>
      </div>
    </div>
  </div>
