.btn-flat {
  color: white;
  font-weight: 600;
  padding: 8px 24px;
  // margin-right: 16px;
  border-radius: 4px;
  background: #FF978E;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #FBC251;
  color: white;
  text-decoration: none;
}


.btn-flat-secondary {
  color: #FF978E;
  font-weight: 600;
  padding: 8px 24px;
  border-radius: 4px;
  border: 2px solid #FF978E;
  background: white;
  transition: background 0.3s ease;
}

.btn-flat-secondary:hover {
  color: #FBC251;
   border: 2px solid #FBC251;
}

.btn-landing:hover {
  background: #FBC251;
  color: white;
  text-decoration: none;
  border: 1px solid #FF978E;
  border-radius: 4px;
}
