.btn-flat {
  color: white;
  font-weight: 600;
  padding: 8px 24px;
  // margin-right: 16px;
  border-radius: 4px;
  background: #FF978E;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #FBC251;
  color: white;
  text-decoration: none;
}


.btn-flat-secondary {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: #E5E5E5;
  transition: background 0.3s ease;
}

.btn-flat-secondary:hover {
  background: #FBC251;
  color: white;
}
