.btn-flat {
  color: $white;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0.8rem 1.4rem;
  border-radius: 4px;
  background: $color-salmon;
  box-shadow: 0 0.1rem 2rem rgba($color-salmon, 0.4);
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $yellow;
  color: white;
  text-decoration: none;
}

.btn-flat-secondary {
  color: $color-salmon;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0.8rem 1.2rem;
  border-radius: 4px;
  border: 0.2rem solid $color-salmon;
  box-shadow: 0 0.1rem 2rem rgba($color-salmon, 0.4);
  background: $white;
  transition: background 0.3s ease;
}

.btn-flat-secondary:hover {
  color: $yellow;
  border: 0.2rem solid $yellow;
}

.btn-landing:hover {
  background: $yellow-dark;
  color: $white;
  text-decoration: none;
  border: 1px solid $color-salmon;
  border-radius: 4px;
}
