.footer {
  height: 10rem;
  width: 100%;
  background: $yellow;
  border-radius: 0 0 80rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
  color: $white;
  bottom: 0;
  margin-top: 3rem;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgba($gray, 0.2);

  text-decoration: none;
  font-size: 2.4rem;
  padding: 0 1rem;
}
.footer-links a:hover {
  opacity: 1;
  color: rgba($white, 0.8);
}

.footer .fa-heart {
  color: rgba($red, 0.8);
}

.footer-copyright {
  font-size: 1.2rem;
  padding-left: 2rem;
}
