// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";
@import "cards";
@import "banner-orange";
@import "button";
@import "cards";
@import "reviews";
@import "carousel";
@import "map";

.map-back {
  background-color: #fbc251;
  position: sticky;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
