// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";
@import "cards";
@import "banner-orange";
@import "button";
@import "cards";
@import "reviews";
@import "carousel";
@import "map";

h1 {
  color: #F6F3E4;
  font-weight: bolder;
  text-shadow: 3px 3px 5px #ff978e, -1px 0 pink, 0 1px pink, 1px 0 pink, 0 -1px pink;
}

h2 {
    color: #F6F3E4;
    font-weight: bold;
    text-shadow:  3px 3px 5px #ff978e, -1px 0 pink, 0 1px pink, 1px 0 pink, 0 -1px pink;
  }

.map-back {
  background-color: #FBC251;
  position: sticky;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
