// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";
@import "cards";
@import "banner-orange";
@import "button";
@import "cards";
@import "reviews";

h1 {
  color: #FF978E;
  font-weight: bolder;
}

h2 {
    color: #FF978E;
    font-weight: bold;
  }
